@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto+Slab:wght@800&display=swap');
.search-box__form {
  display: flex;
}

.search-box__form-label {
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  font-family: Roboto ;
}

.search-box__form-input {
  box-sizing: border-box;
  display: block;
  margin-top: 5px;
  width: 500px;
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid rgba(0, 8, 7, 0.5);
  border-radius: 10px;
}

.search-box__form-submit {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #fdbe33 #000 #d77206;
  border-radius: 6px;
  background: linear-gradient(#06a500, #06a500) ;
  transition: 0.2s;
}


.search-box__form-submit:hover:not(:disabled) {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.2s linear;
  background-color: #ffeedb;
  /* color: rgba(0, 8, 7); */
  background: linear-gradient(#005ef5, #005ef5) #005ef5;
}

.search-box__form-submit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
